* {
  box-sizing: border-box;
}

.landing-page {
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color: #23374e;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  height: auto;
  margin-top: 65px;
}

#landing-header {
  height: 400px;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url('../images/landing-background2.jpg');
  
}

#landing-header h1 {
  text-shadow: 1.5px 1px 3px black;
  position: relative;
  color: white;
  top: 100px;
  left: -280px;
  margin: 0 auto;
}

#landing-header h2 {
  text-shadow: 1px 1px 1px rgb(24, 26, 111);
  font-weight: lighter;
  position: relative;
  color: white;
  top: 110px;
  left: -280px;
  margin: 0 auto;
}


#landing-description {
    margin-top: -25px;
    text-align: justify;
    padding: 30px 50px 50px 50px;
    background-color: #DEE2E4;
}

#landing-description p {
  padding: 20px 40px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
}

.landingIcons {
  color: #81A2C8;
  padding-right: 20px;
  height: 34px;
  float: left;
  clear: both;
  font-size: 34px;
}

footer {
  background-color: rgb(36, 36, 36);
  color: white;
  height: 55px;
  width: 100%;
  margin-top: -20px;
}

footer p {
  font-size: 14px;
  text-align: left;
  padding-top: 19px;
  padding-left: 15px;
}

@media only screen and (max-width: 1200px) {
  #landing-header h1 {
    left: -200px;
  }

  #landing-header h2 {
    left: -200px;
  }
}

@media only screen and (max-width: 1085px) {
  #landing-header h1 {
    font-size: 34px;
    left: -180px;
  }

  #landing-header h2 {
    font-size: 26px;
    left: -180px;
  }
}

@media only screen and (max-width: 1000px) {
  #landing-header h1 {
    font-size: 30px;
    left: -170px;
  }

  #landing-header h2 {
    font-size: 22px;
    left: -170px;
  }
}

@media only screen and (max-width: 870px) {
  #landing-header h1 {
    font-size: 30px;
    left: -150px;
  }

  #landing-header h2 {
    font-size: 22px;
    left: -150px;
  }
}

@media only screen and (max-width: 800px) {
  #landing-header h1 {
    font-size: 30px;
    left: -120px;
  }

  #landing-header h2 {
    font-size: 22px;
    left: -120px;
  }
}

@media only screen and (max-width: 733px) {
  #landing-header h1 {
    text-shadow: 1.5px 1.5px 3px black;
    font-size: 30px;
    left: 0;
  }

  #landing-header h2 {
    font-size: 22px;
    left: 0;
  }
}

@media only screen and (max-width: 650px) {
  #landing-header h1 {
    text-shadow: 1.5px 1.5px 3px black;
    font-size: 28px;
  }

  #landing-header h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  #landing-description {
    text-align: center;
  }
  #landing-header h1 {
    text-shadow: 1.5px 1.5px 3px black;
    font-size: 28px;
    top: 140px;
  }

  #landing-header h2 {
    font-size: 20px;
    top: 140px;
  }
}

@media only screen and (max-width: 500px) {
  #landing-description p {
    padding: 20px 20px;
  }
  #landing-header h1 {
    text-shadow: 1.5px 1.5px 3px black;
    font-size: 28px;
    top: 120px;
    left: 0;
  }

  #landing-header h2 {
    font-size: 20px;
    top: 130px;
    left: 0;
  }
}

@media only screen and (max-width: 401px) {
 #landing-header h1 {
    text-shadow: 1.5px 1.5px 3px black;
    font-size: 28px;
    top: 100px;
    left: 0;
  }

  #landing-header h2 {
    padding: 0 5px 0 5px;
    font-size: 20px;
    top: 110px;
    left: 0;
  }
}

@media only screen and (max-width: 382px) {
 #landing-header h1 {
    text-shadow: 1.5px 1.5px 3px black;
    font-size: 28px;
    top: 50px;
    left: 0;
  }

  #landing-header h2 {
    font-size: 20px;
    top: 80px;
    left: 0;
  }
}