* {
  box-sizing: border-box;
}

.landing-page {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: rgb(84, 87, 255);
  text-align: center;
  line-height: 1.5;
  width: 100%;
  margin-top: 65px;
  margin-bottom: 100px;
}

#landing-header {
  height: 200px;
  background-image: url("https://image.shutterstock.com/image-illustration/freight-transportation-packages-shipment-warehouse-450w-428151925.jpg");
  
}

#landing-header h2 {
  text-shadow: 1px 1px 1px;
  padding-top: 80px;
  color: rgb(36, 36, 36);
}


#landing-description {
  text-align: justify;
  padding: 15px 50px 35px 50px;
  background-color: rgb(238, 238, 238)
}

#landing-description p {
  padding: 20px 40px;
  border: 2px solid rgb(84, 87, 255);
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
}

footer {
  background-color: rgb(36, 36, 36);
  color: white;
  height: 55px;
  width: 100%;
  margin-top: -20px;
}

footer p {
  font-size: 14px;
  text-align: left;
  padding-top: 19px;
  padding-left: 15px;
}