body {
  box-sizing: border-box;

}

#login {
    opacity: 1;
    border: 1px solid rgb(49, 52, 197);
    border-radius: 2px;
    padding: 17px 23px 14px 23px;
    background: white;
    box-shadow: 1px 2px 2.3px 2px;
    max-width: 450px;
    min-width: 238px;
    color: rgb(84, 87, 255);
    font-weight: bold;
    margin: 40px auto 25px auto;
}

label {
  text-align: left;
}

.login-form input {
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}

#login Button {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}

#login p {
  text-align: center;
}

#login span a {
text-decoration: none;
}