.login-page {
    font-family: 'Hind', sans-serif;
 	padding-left: 20px;
 	padding-right: 20px;
 	width: 100%;
 	margin: 60px auto 0px auto;
 	background-color: rgb(238,238,238);
 	color: #51749c;
}

.login-page h1 {
 	text-align: center;
 	font-size: 42px;
 	margin-top: 50px;
 	text-shadow: 1px 1px #ffffff;
}

.login-page p {
    margin-top: -15px;
	text-align: center;
}