.myReviewsPage {
    font-family: "Open Sans", sans-serif;
	margin-top: 65px;
	width: 100%;
	background-color: #DEE2E4;
}

.myReviewsPage h1 {
	text-align: center;
	font-size: 26px;
	color: #51749c;
	text-shadow: 1px 1px 1px rgb(24, 26, 111);
}

.reviews {
	background-color: #DEE2E4;
}