.noBus-content{
	font-family: "Open Sans", sans-serif;
	margin-top:	65px;
	width: 100%;
	background-color: #eeeeee;
}

.noBus-content .noBus-text {
	padding-top: 60px;
	text-align: center;
}

.noBus-content h1 {
	color: rgb(69, 72, 253);
	text-shadow: 1px 1px 1px rgb(24, 26, 111);
}