.noBus-content{
	font-family: "Open Sans", sans-serif;
	margin-top:	65px;
	width: 100%;
	background-color: #DEE2E4;
}

.noBus-content .noBus-text {
	padding-top: 90px;
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

.noBus-content h1 {
	color: #51749c;
	text-shadow: 1px 1px 1px rgb(24, 26, 111);
}

.noBus-text p {
	background-color: white;
	margin-top: 30px;
	padding: 15px;
	border-radius: 3px;
}

@media only screen and (max-width: 560px) {
  .noBus-text {
  	margin: 0 auto;
  	text-align: center;
    width: 70%;
  }
}