.reviewPage {
	background-color: #eeeeee;
}

.indivReview {
	margin: 0 auto;
	margin-top: 15px;
	width: 50%;
	border: 2px solid #dedede;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
}

.revDetails p{
	display: inline-block;
}

/*.revDetails .two {
	text-align: center;
}*/

.revDetails .three {
	float: right;
}


