main {
  background-color: rgb(249, 249, 249);
  font-family: 'Hind', sans-serif;
}

.signup-page {
  font-family: 'Hind', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 249, 249);
  color: #51749c; 
}

.signup-page::before, .signup-page::after {
  display: table;
  content: '';
}

.signup-page::after {
  clear: both;
}
 
.colContainer {
  margin-top: 100px;
  background-color: rgb(249, 249, 249);
}

.col-6 {
  margin: 0 auto;
  width: 50%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 60px;
  background-color: rgb(249, 249, 249);
}

.signup-page h1 {
  padding-left: 15px;
  text-align: left;
  text-shadow: 2px 2px #ffffff;
}

.signup-page h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.col-6 img {
  width: 90%;
}

@media only screen and (max-width: 870px) {
  .signup-page {
    height: 118%;
  }
}

@media only screen and (max-width: 675px) {
  .signup-page {
    padding-left: 10px;
    padding-right: 10px;
  }

  .signup-page h1 {
    padding-left: 0;
    text-align: center;
    font-size: 26px;
  }
}

@media only screen and (max-width: 500px) {
  .signup-page {
    height: 138%;
  }

  .signup-page h1 {
    display: none;
  }

  .colContainer {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
  }

  .col-6 {
    float: none;
    width: 94%;
  }

  #colTwo {
    margin-top: -25px;
  }

  .col-6 img {
    width: 60%;
    margin: 0 auto;
  }
}